External/src/main/resources/xsds/memeInterfaze.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.sys2.universal.dmwm.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MemeDBInterfaceService" targetNamespace="http://ws.sys2.universal.dmwm.org/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/dataTypes" elementFormDefault="qualified" targetNamespace="http://www.example.org/dataTypes" version="1.0">

  <xs:element name="meme" type="tns:memedesc"/>

  <xs:element name="memerq" type="tns:memedesc"/>

  <xs:element name="memers" type="tns:response"/>

  <xs:complexType name="MemeInfoType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Year" type="xs:int"/>
      <xs:element minOccurs="0" name="Type" type="xs:string"/>
      <xs:element minOccurs="0" name="Origin" type="xs:string"/>
      <xs:element name="Status" type="xs:string"/>
      <xs:element minOccurs="0" name="Badge" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="memedesc">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="datetime" type="xs:dateTime"/>
      <xs:element name="uuid" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="dankLevel" type="xs:int"/>
      <xs:element minOccurs="0" name="crc32" type="xs:long"/>
      <xs:element minOccurs="0" name="fileType" type="tns:t_fileType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="t_fileType">
    <xs:sequence>
      <xs:element name="extension" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="size" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="extensions">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element name="RqUID" type="xs:string"/>
      <xs:element name="RqTime" type="xs:dateTime"/>
      <xs:element name="MemeInfo" type="tns:MemeInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MemeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Character"/>
      <xs:enumeration value="Shitposting"/>
      <xs:enumeration value="VideoGame Character"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ExtensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GZ"/>
      <xs:enumeration value="ZIP"/>
      <xs:enumeration value="PLAIN"/>
      <xs:enumeration value="RAR"/>
      <xs:enumeration value="PNG"/>
      <xs:enumeration value="JPEG"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sys2.universal.dmwm.org/" xmlns:ns1="http://www.example.org/dataTypes" elementFormDefault="unqualified" targetNamespace="http://ws.sys2.universal.dmwm.org/" version="1.0">

  <xs:import namespace="http://www.example.org/dataTypes"/>

  <xs:element name="insertMeme" type="tns:insertMeme"/>

  <xs:element name="insertMemeResponse" type="tns:insertMemeResponse"/>

  <xs:complexType name="insertMeme">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemeInfo" type="ns1:MemeInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertMemeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="insertMeme">
    <wsdl:part element="tns:insertMeme" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertMemeResponse">
    <wsdl:part element="tns:insertMemeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MemeDBInterface">
    <wsdl:operation name="insertMeme">
      <wsdl:input message="tns:insertMeme" name="insertMeme">
    </wsdl:input>
      <wsdl:output message="tns:insertMemeResponse" name="insertMemeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemeDBInterfaceServiceSoapBinding" type="tns:MemeDBInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertMeme">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertMeme">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertMemeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemeDBInterfaceService">
    <wsdl:port binding="tns:MemeDBInterfaceServiceSoapBinding" name="MemeDBInterfacePort">
      <soap:address location="http://localhost:8080/UniversalWeb/webservices/memeInterfaze"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>