src/main/resources/wsdl/Common.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.hp.com/SM/7/Common">

<xs:simpleType name="StringType">
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="MessagesType">
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="StatusType">
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="AttachmentsType">
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="DateTimeType">
  <xs:restriction base="xs:string"/>
</xs:simpleType>

</xs:schema> 
