src/main/resources/wsdl/sm_wsdl.xml.wsdl

<?xml version="1.0"?>
<definitions xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://schemas.hp.com/SM/7" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:cmn="http://schemas.hp.com/SM/7/Common" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://schemas.hp.com/SM/7">
<types>
<xs:schema xmlns:cmn="http://schemas.hp.com/SM/7/Common" xmlns="http://schemas.hp.com/SM/7" targetNamespace="http://schemas.hp.com/SM/7" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" version="2016-06-16 Rev 2" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import schemaLocation="xmlmime.xsd" namespace="http://www.w3.org/2005/05/xmlmime"/>
<xs:import schemaLocation="Common.xsd" namespace="http://schemas.hp.com/SM/7/Common"/>
<xs:complexType name="SBParusZnoKeysType">
<xs:sequence>
<xs:element name="ZNOID" type="cmn:StringType" nillable="true" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="query" type="xs:string" use="optional"/>
<xs:attribute name="updatecounter" type="xs:long" use="optional"/>
</xs:complexType>
<xs:complexType name="SBParusZnoInstanceType">
<xs:sequence>
<xs:element name="ZNOID" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Status" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Information" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="ClosureCode" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Solution" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="TemplateID" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="PriorityCode" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="PlanFinish" type="cmn:DateTimeType" nillable="true" minOccurs="0"/>
<xs:element name="ActualFinish" type="cmn:DateTimeType" nillable="true" minOccurs="0"/>
<xs:element name="Assignment" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Assignment.name" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Assignee" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="Options" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="ConfElement" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="NextBreach" type="cmn:DateTimeType" nillable="true" minOccurs="0"/>
<xs:element name="SourceID" type="cmn:StringType" nillable="true" minOccurs="0"/>
<xs:element name="attachments" type="cmn:AttachmentsType" nillable="true" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="query" type="xs:string" use="optional"/>
<xs:attribute name="uniquequery" type="xs:string" use="optional"/>
<xs:attribute name="recordid" type="xs:string" use="optional"/>
<xs:attribute name="updatecounter" type="xs:long" use="optional"/>
</xs:complexType>
<xs:complexType name="SBParusZnoModelType">
<xs:sequence>
<xs:element name="keys" type="SBParusZnoKeysType"/>
<xs:element name="instance" type="SBParusZnoInstanceType"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="query" type="xs:string" use="optional"/>
</xs:complexType>
<xs:element name="RetrieveSBParusZnoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
</xs:sequence>
<xs:attribute name="attachmentInfo" type="xs:boolean" use="optional"/>
<xs:attribute name="attachmentData" type="xs:boolean" use="optional"/>
<xs:attribute name="ignoreEmptyElements" type="xs:boolean" use="optional" default="true"/>
<xs:attribute name="updatecounter" type="xs:boolean" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="RetrieveSBParusZnoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="status" type="cmn:StatusType" use="required"/>
<xs:attribute name="message" type="xs:string" use="required"/>
<xs:attribute name="schemaRevisionDate" type="xs:date" use="required"/>
<xs:attribute name="schemaRevisionLevel" type="xs:int" use="required"/>
<xs:attribute name="returnCode" type="xs:decimal" use="optional"/>
<xs:attribute name="query" type="xs:string" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="more" type="xs:boolean" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="RetrieveSBParusZnoKeysListRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
</xs:sequence>
<xs:attribute name="attachmentInfo" type="xs:boolean" use="optional"/>
<xs:attribute name="attachmentData" type="xs:boolean" use="optional"/>
<xs:attribute name="ignoreEmptyElements" type="xs:boolean" use="optional" default="true"/>
<xs:attribute name="updatecounter" type="xs:boolean" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="RetrieveSBParusZnoKeysListResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="keys" type="SBParusZnoKeysType" maxOccurs="unbounded"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="status" type="cmn:StatusType" use="required"/>
<xs:attribute name="message" type="xs:string" use="required"/>
<xs:attribute name="schemaRevisionDate" type="xs:date" use="required"/>
<xs:attribute name="schemaRevisionLevel" type="xs:int" use="required"/>
<xs:attribute name="returnCode" type="xs:decimal" use="optional"/>
<xs:attribute name="query" type="xs:string" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="more" type="xs:boolean" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="RetrieveSBParusZnoListRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="keys" type="SBParusZnoKeysType" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="attachmentInfo" type="xs:boolean" use="optional"/>
<xs:attribute name="attachmentData" type="xs:boolean" use="optional"/>
<xs:attribute name="ignoreEmptyElements" type="xs:boolean" use="optional" default="true"/>
<xs:attribute name="updatecounter" type="xs:boolean" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
<xs:attribute name="attachmentType" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="RetrieveSBParusZnoListResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="instance" type="SBParusZnoInstanceType" maxOccurs="unbounded"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="status" type="cmn:StatusType" use="required"/>
<xs:attribute name="message" type="xs:string" use="required"/>
<xs:attribute name="schemaRevisionDate" type="xs:date" use="required"/>
<xs:attribute name="schemaRevisionLevel" type="xs:int" use="required"/>
<xs:attribute name="returnCode" type="xs:decimal" use="optional"/>
<xs:attribute name="query" type="xs:string" use="optional"/>
<xs:attribute name="handle" type="xs:string" use="optional"/>
<xs:attribute name="count" type="xs:long" use="optional"/>
<xs:attribute name="more" type="xs:boolean" use="optional"/>
<xs:attribute name="start" type="xs:long" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="UpdateSBParusZnoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
</xs:sequence>
<xs:attribute name="attachmentInfo" type="xs:boolean" use="optional"/>
<xs:attribute name="attachmentData" type="xs:boolean" use="optional"/>
<xs:attribute name="ignoreEmptyElements" type="xs:boolean" use="optional" default="true"/>
<xs:attribute name="updateconstraint" type="xs:long" use="optional" default="-1"/>
</xs:complexType>
</xs:element>
<xs:element name="UpdateSBParusZnoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="status" type="cmn:StatusType" use="required"/>
<xs:attribute name="message" type="xs:string" use="required"/>
<xs:attribute name="schemaRevisionDate" type="xs:date" use="required"/>
<xs:attribute name="schemaRevisionLevel" type="xs:int" use="required"/>
<xs:attribute name="returnCode" type="xs:decimal" use="optional"/>
<xs:attribute name="query" type="xs:string" use="optional"/>
</xs:complexType>
</xs:element>
<xs:element name="CreateSBParusZnoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
</xs:sequence>
<xs:attribute name="attachmentInfo" type="xs:boolean" use="optional"/>
<xs:attribute name="attachmentData" type="xs:boolean" use="optional"/>
<xs:attribute name="ignoreEmptyElements" type="xs:boolean" use="optional" default="true"/>
<xs:attribute name="updateconstraint" type="xs:long" use="optional" default="-1"/>
</xs:complexType>
</xs:element>
<xs:element name="CreateSBParusZnoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="model" type="SBParusZnoModelType"/>
<xs:element name="messages" type="cmn:MessagesType" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="status" type="cmn:StatusType" use="required"/>
<xs:attribute name="message" type="xs:string" use="required"/>
<xs:attribute name="schemaRevisionDate" type="xs:date" use="required"/>
<xs:attribute name="schemaRevisionLevel" type="xs:int" use="required"/>
<xs:attribute name="returnCode" type="xs:decimal" use="optional"/>
<xs:attribute name="query" type="xs:string" use="optional"/>
</xs:complexType>
</xs:element>
</xs:schema>
</types>
<message name="RetrieveSBParusZnoRequest">
<part name="RetrieveSBParusZnoRequest" element="ns:RetrieveSBParusZnoRequest"/>
</message>
<message name="RetrieveSBParusZnoResponse">
<part name="RetrieveSBParusZnoResponse" element="ns:RetrieveSBParusZnoResponse"/>
</message>
<message name="RetrieveSBParusZnoKeysListRequest">
<part name="RetrieveSBParusZnoKeysListRequest" element="ns:RetrieveSBParusZnoKeysListRequest"/>
</message>
<message name="RetrieveSBParusZnoKeysListResponse">
<part name="RetrieveSBParusZnoKeysListResponse" element="ns:RetrieveSBParusZnoKeysListResponse"/>
</message>
<message name="RetrieveSBParusZnoListRequest">
<part name="RetrieveSBParusZnoListRequest" element="ns:RetrieveSBParusZnoListRequest"/>
</message>
<message name="RetrieveSBParusZnoListResponse">
<part name="RetrieveSBParusZnoListResponse" element="ns:RetrieveSBParusZnoListResponse"/>
</message>
<message name="UpdateSBParusZnoRequest">
<part name="UpdateSBParusZnoRequest" element="ns:UpdateSBParusZnoRequest"/>
</message>
<message name="UpdateSBParusZnoResponse">
<part name="UpdateSBParusZnoResponse" element="ns:UpdateSBParusZnoResponse"/>
</message>
<message name="CreateSBParusZnoRequest">
<part name="CreateSBParusZnoRequest" element="ns:CreateSBParusZnoRequest"/>
</message>
<message name="CreateSBParusZnoResponse">
<part name="CreateSBParusZnoResponse" element="ns:CreateSBParusZnoResponse"/>
</message>
<portType name="SBParus">
<operation name="RetrieveSBParusZno">
<documentation/>
<input message="ns:RetrieveSBParusZnoRequest"/>
<output message="ns:RetrieveSBParusZnoResponse"/>
</operation>
<operation name="RetrieveSBParusZnoKeysList">
<documentation/>
<input message="ns:RetrieveSBParusZnoKeysListRequest"/>
<output message="ns:RetrieveSBParusZnoKeysListResponse"/>
</operation>
<operation name="RetrieveSBParusZnoList">
<documentation/>
<input message="ns:RetrieveSBParusZnoListRequest"/>
<output message="ns:RetrieveSBParusZnoListResponse"/>
</operation>
<operation name="UpdateSBParusZno">
<documentation/>
<input message="ns:UpdateSBParusZnoRequest"/>
<output message="ns:UpdateSBParusZnoResponse"/>
</operation>
<operation name="CreateSBParusZno">
<documentation/>
<input message="ns:CreateSBParusZnoRequest"/>
<output message="ns:CreateSBParusZnoResponse"/>
</operation>
</portType>
<binding name="SBParus" type="ns:SBParus">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RetrieveSBParusZno">
<soap:operation style="document" soapAction="Retrieve"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetrieveSBParusZnoKeysList">
<soap:operation style="document" soapAction="RetrieveKeysList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RetrieveSBParusZnoList">
<soap:operation style="document" soapAction="RetrieveList"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateSBParusZno">
<soap:operation style="document" soapAction="Update"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateSBParusZno">
<soap:operation style="document" soapAction="Create"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SBParus">
<port name="SBParus" binding="ns:SBParus">
<soap:address location="http://SBT-IPO-028.ca.sbrf.ru:13080/SM/7/ws"/>
</port>
</service>
</definitions>
